body {
    padding-top: 90px; 
}

.navbar {
    background-color: #25211e;
    height: 80px; 
}

.navbar-header {
    color: #c1b497;
    font-size: 50px; 
}

.form-control {
    width: 120px;
}

.photoDisplay {
    width: 400px; 
    height: 350px;
}