@{
    ViewData["Title"] = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
$(document).ready(function () {
    $('.display-object').click(function () {
        $.ajax({
            type: 'GET',
            datatype: 'json',
            contentType: 'application/json',
            url: '@Url.Action("DisplayObject")',
            success: function (result) {
                console.log(result);
                var resultString = 'Id: ' + result.id + '<br>Stock: ' + result.stock + '<br>Revenue: ' + result.revenue;
                $('#result').html(resultString);
            }
        });
    });
});
</script>

@model IEnumerable<Shoes.Models.Inventory>

<h3>Inventory</h3>

<h4 class="display-object" data-request-url="@Url.Action("DisplayObject", "Inventory")">Display Inventory</h4>
<div id="result"></div>