@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Shoes.Models.Sale

<h3>Add A Product</h3>

<div class="newcontainer">

    <form action="Create" class="new-sale">
        <label for="newShoe">Shoe:</label>
        <input type="text" name="newShoe" />
        <br />
        <label for="newPrice">Price</label>
        <input type="text" name="newPrice" />
        <br />
        <label for="newImage">Image</label>
        <input type="text" name="newImage" />
        <br />
        <label for="newComment">Comment</label>
        <input type="text" name="newComment" />
        <br />

        <button type="submit">Submit</button>
    </form>

</div>

