@{
    ViewData["Title"] = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
@model IEnumerable<Shoes.Models.Sale>
<div class="display-view">
    <h3>Shoes</h3>

    <div class="list" id="master-list">

        <h2>inside list</h2>
    </div>

    @*@foreach(var listSales in Model)
        {

            <p class="click-details" id="@listSales.SaleId">
                @Html.DisplayFor(modelSales => listSales.ShoeName)
            </p>
            <p class="click-delete" id="@listSales.SaleId">
                Delete
            </p>
        }*@

    <p class="newShoe"></p>

    <div class="click-create">Add shoe to inventory</div>

    <div class="details" id="shoe-details"></div>
    <div class="create"></div>
    <div class="delete"></div>
</div>